

.item-list
{
text-align: center;
list-style-type: none;
padding: 40px 40px 40px 40px 0;
margin-bottom: 40px;


}

.item-list li {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0px 50px 100px rgb(255 20 1 / 75%);
    padding: 40px 40px 40px 40px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}


\\55555



.item-list li:hover
{
position: sticky;

left: 5rem;

transition: 0.1s;
border-radius: 70px;

box-shadow: 1px 1px 100px rgba(201, 224, 87, 0.658);


}





\\ มันใช่เหรอ ห่ะ O_o \\















